<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/add}" th:object="${user}" th:method="POST">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" th:field="*{username}" id="name"/></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input type="text" th:field="*{password}" id="password"/></td>
    </tr>
    <tr>
      <td><label for="job">Job</label></td>
      <td><input type="text" th:field="*{job}" id="job"/></td>
    </tr>
  </table>
  <input type="submit" value="Add user">
</form>
</body>
</html>