<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${editeduser}" method="POST">
    <table>
        <tr>
            <td><input type="hidden" th:field="${editeduser.id}"/></td>
        </tr>

        <tr>
            <td><input type="hidden" th:field="${editeduser.roles}"/></td>
        </tr>


        <tr>
            <td><input type="hidden" th:field="${editeduser.username}"/></td>
        </tr>
            <td><label id="password">Password</label></td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><label id="job">Job</label></td>
            <td><input type="text" th:field="*{job}"/></td>
        </tr>
        <tr>
            <td><label id="r">Role</label></td>
            <td><input type="text" name="role" class="form-control"/></td>
        </tr>
        <tr>
    </table>
    <input type="submit" value="Edit User">
</form>
</body>
</html>