<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User information-page</title>

</head>
<body>
<header>
    <!-- navbar делает цветную полоску сверху страницы -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <!-- navbar-nav mr-auto выравнивает слева -->
        <!-- Неупорядоченный список размечается тегом <ul> -->
        <!-- <li> используется для создания элементов списка -->
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand font-weight-bold" th:utext="${thisuser.username}"></li>
            <li class="navbar-brand">with roles:</li>
            <li class="navbar-brand" th:utext="${thisuser.getRolesToString()}"></li>
        </ul>
        <!-- navbar-nav без mr-auto выравнивает справа -->
        <ul class="navbar-nav">
            <a class="nav-link" href="/logout">logout</a>
        </ul>
    </nav>
</header>

<!-- class="row" делает столбец -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>

        <!-- в tab-content создаются блоки с контентом, на которые переходим из вкладок -->
        <!-- в nav-tabs можно создавать вкладки -->
        <!-- Вкладки оборачиваются элементом <li> -->
        <!-- nav-item — сама вкладка -->
        <!-- nav-link active открывает текущую вкладку по-умолчанию при открытии страницы -->
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">
                <div class="tab-pane fade show active" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="thisUser">
                            <div class="card">
                                <h5 class="card-header">About user</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Roles</th>
                                            <th>User Job</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td th:utext="${thisuser.id}"></td>
                                        <td th:utext="${thisuser.username}"></td>
                                        <td th:utext="${thisuser.password}"></td>
                                        <td th:utext="${thisuser.getRolesToString()}"></td>
                                        <td th:utext="${thisuser.job}"></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>